{% load static %}
<!DOCTYPE html>


<html lang="en">

<head>
  <title>{% block titulo %}NETCARE_CS{% endblock %}</title>
  <!-- <link href="{% static 'app/css/netcare.css' %}" rel="stylesheet"> -->
  <link href="{% static 'app/css/dashboard.css' %}" rel="stylesheet">

</head>

<html>

<body>

  <div id="contenedor" class="contenedor">
    <div id="header" class="header">
      <h2>CS Platform</h2>
      <nav id="menu" class="menu">
        <a href="{% url 'app:dashboardhws' %}">HOME</a>
        <a href="{% url 'app:netcare' %}">Netcare</a>
        <a href="{% url 'app:icareplus' %}">Icare+</a>
        <a href="{% url 'app:smsEmail' %}">SMS/Email</a>
        <a href="{% url 'app:onebox' %}">One Box</a>
        <a href="{% url 'app:vpnaccess' %}">VPN Access</a>
        <a href="{% url 'app:help' %}">Help</a>
        <a href="{% url 'app:profile' %}">Profile</a>
        <a href="{% url 'app:loginhw' %}">Log Out</a>
      </nav>
    </div>

    <div class="contenido">


      <div class="tab-buttons">
        <button class="tab-button">NOW TASKS</button>
        <button class="tab-button">DELETE TASK</button>
        <button class="tab-button">CHANGE TASK</button>
      </div>

      <div class="tab active">
            <table>
              <tr>
                <th>ID TASK</th>
                <th>DESCRIPTION</th>
                <th>SHARE</th>
                <th>OWNER</th>
                <th>PROGRESS</th>
                <th>DUE DATE</th>
                <th>CUSTOMER</th>
              </tr>
              {%for tarea in tareas%}
              <tr>
                <td class="title">
                  <h3>{{tarea.titulo}}</h3>
                </td>
                <td>
                  <h4>{{tarea.descripcion}}</h4>
                </td>
                <td class="compare-btn"><button class="compare-btn">Share</button></td>
                <td class="owner">
                  <p>Owner: <span class="owner">{{tarea.owner}}</span></p>
                </td>
                <td class="progress">
                  <p>Progreso: <span class="progress">{{tarea.progreso}}</span></p>
                </td>
                <td class="due-date">
                  <p>Fecha de vencimiento: <span class="due-date">{{tarea.fecha_vencimiento}}</span></p>
                </td>
                <td class="contact-info">
                  <p>Contacto: <span class="contact-info">{{tarea.cliente}}</span></p>
                </td>
              </tr>
              {% endfor %}
            </table>
      </div>

      <div class="tab">
        <table>
          <tr>
            <th>ID TASK</th>
            <th>OWNER</th>
            <th>PROGRESS</th>
            <th>DUE DATE</th>
            <th>CUSTOMER</th>
            <th>CHANGE</th>
          </tr>
          <tr>
            {%for tarea in tareas%}
            <td class="title">
              <h3>{{tarea.titulo}}</h3>
            </td>
            <td class="owner">
              <p>Owner: <span class="owner">{{tarea.owner}}</span></p>
            </td>
            <td class="progress">
              <p>Progress: <span class="progress">{{tarea.progreso}}</span></p>
            </td>
            <td class="due-date">
              <p>End Date: <span class="due-date">{{tarea.fecha_vencimiento}}</span></p>
            </td>
            <td class="contact-info">
              <p>Contact: <span class="contact-info">{{tarea.cliente}}</span></p>
            </td>
            <td class=" change">
              <button value="{{tarea.id}}" class="compare-btn">Deltete</button>
            </td>
          </tr>
          {% endfor %}
        </table>
      </div>

      <div class="tab">
        <table>
          <tr>
            <th>ID TASK</th>
            <th>OWNER</th>
            <th>PROGRESS</th>
            <th>DUE DATE</th>
            <th>CUSTOMER</th>
            <th>DELETE</th>
          </tr>
          <tr>
            {%for tarea in tareas%}
            <td class="title">
              <h3>{{tarea.titulo}}</h3>
            </td>
            <td class="owner">
              <p>Owner: <span class="owner">{{tarea.owner}}</span></p>
            </td>
            <td class="progress">
              <p>Progreso: <span class="progress">{{tarea.progreso}}</span></p>
            </td>
            <td class="due-date">
              <p>Fecha de vencimiento: <span class="due-date">{{tarea.fecha_vencimiento}}</span></p>
            </td>
            <td class="contact-info">
              <p>Contacto: <span class="contact-info">{{tarea.cliente}}</span></p>
            </td>
            <td class="change">
              <form action="{% url 'app:edit_task' tarea.id %}" method="post">
                {% csrf_token %}
                <button type="submit" class="submit-btn">Change</button>
              </form>              
            </td> 
            
          </tr>
          {% endfor %}
        </table>
      </div>


      <a class="me" href="https://codepen.io/uzcho_/pens/popular/?grid_type=list" target="_blank"
        style="color:#000"></a>

    </div>

    <div class="footer"></div>
  </div>
  <script src="{% static 'app/js/newtask.js' %}"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="{% static 'app/js/pestanatask.js' %}"></script>
</body>

</html>