{% load static %}
<!DOCTYPE html>


<html lang="en">

<head>
  <title>{% block titulo %}Ultimate Platform HW{% endblock %}</title>
  <link href="{% static 'app/css/dashboard.css' %}" rel="stylesheet">
</head>

<html>

<body>
  <script src="{% static 'app/js/newtask.js' %}"></script>

  <div id="contenedor" class="contenedor">
    <div id="header" class="header">
      <h2>CS Platform</h2>
      <nav id="menu" class="menu">
        <a href="{% url 'app:dashboardhw' %}">HOME</a>
        <a href="{% url 'app:netcare2' %}">Netcare</a>
        <a href="{% url 'app:icareplus' %}">Icare+</a>
        <a href="{% url 'app:smsEmail' %}">SMS/Email</a>
        <a href="{% url 'app:onebox' %}">One Box</a>
        <a href="{% url 'app:vpnaccess' %}">VPN Access</a>
        <a href="{% url 'app:loginhw' %}">Log Out</a>
      </nav>
    </div>

    <div class="contenido">
      <div class="dashboard-navy">
        
        <h2>Tareas</h2>
              <table>
                <tr>
                  <th>ID TASK</th>
                  <th>SHARE</th>
                  <th>OWNER</th>
                  <th>DUE DATE</th>
                  <th>CUSTOMER</th>
                </tr>
                {%for tarea in tareas%}
                <tr>
                  <td class="title"><h3>{{tarea.titulo}}</h3></td>
                  <td class="compare-btn"><button class="compare-btn">Share</button></td>
                  <td class="owner"><p>Owner: <span class="owner">{{tarea.owner}}</span></p></td>
                  <td class="due-date"><p>Fecha de vencimiento: <span class="due-date">{{tarea.fecha_vencimiento}}</span></p></td>
                  <td class="contact-info"><p>Contacto: <span class="contact-info">{{tarea.cliente}}</span></p></td>
                </tr>
                {% endfor %}
              </table>
      </div>

    </div>

    <div class="footer"></div>
  </div>

</body>

</html>