{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>{% block titulo %}NETCARE TASK{% endblock %}</title>
    <link href="{% static 'app/css/ejecutartareaestilo.css' %}" rel="stylesheet">
</head>

<body>
    <div id="contenedor" class="contenedor">
        <div id="header" class="header">
            <h2>CS Platform</h2>
            <nav id="menu" class="menu">
                <a href="{% url 'app:netcare' %}">BACK</a>
            </nav>
        </div>
        <div class="contenido">
            <div class="tab-buttons">
                <button class="tab-button">Implementación</button>
                <button class="tab-button">Documentación del Proceso</button>
                <button class="tab-button">Notas</button>
                <button class="tab-button">Análisis de la Información</button>
            </div>

            <div class="tab active">
                <h2>Implementación</h2>
                <table id="device-info">
                    <thead>
                        <tr>
                            <th>Dispositivo</th>
                            <th>Afección</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Dispositivo 1</td>
                            <td>Afección 1</td>
                        </tr>
                        <tr>
                            <td>Dispositivo 2</td>
                            <td>Afección 2</td>
                        </tr>
                        <tr>
                            <td>Dispositivo 3</td>
                            <td>Afección 3</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="tab">
                <h2>Documentación del Proceso</h2>
                <textarea id="process-documentation"></textarea>
            </div>

            <div class="tab">
                <h2>Notas</h2>
                <textarea id="task-notes"></textarea>
            </div>

            <div class="tab">
                <h2>Análisis de la Información</h2>
                <textarea id="information-analysis"></textarea>
            </div>

            <div class="button-container">
                <button id="save-button">Guardar</button>
                <button id="reset-button">Reiniciar</button>
            </div>
        </div>

        <div class="footer"></div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'app/js/pestanatask.js' %}"></script>
</body>

</html>
