{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>{% block title %}NETCARE TASK{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'app/css/executeestilo.css' %}">
</head>

<body>
    <div class="contenedor">
        <div class="header">
            <h2>CS Platform</h2>
            <nav class="menu">
                <a href="{% url 'app:netcare' %}">BACK</a>
            </nav>
        </div>
        <div class="contenido">
            <div class="tab-buttons">
                <button class="tab-button">Implementación</button>
            </div>

            <div>
                <h3>Realiaza una Documentación del Proceso y agrega notas</h3>
                <br>
                <table id="device-info">
                    <thead>
                        <tr>
                            <th>Dispositivo</th>
                            <th>Afección</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Dispositivo 1</td>
                            <td><input type="text"></td>
                        </tr>
                        <tr>
                            <td>Dispositivo 2</td>
                            <td><input type="text"></td>
                        </tr>
                        <tr>
                            <td>Dispositivo 3</td>
                            <td><input type="text"></td>
                        </tr>
                    </tbody>
                </table>
                <br>
                <h3>Notas</h3>
                <br>
                <textarea id="process-documentation"></textarea>
                <h3>Upload a File</h3>
                <br>
                <form action="/upload" method="post" enctype="multipart/form-data">
                    <label for="file">Select a file:</label>
                    <input type="file" name="file" id="file">
                    <br>    
                    <input type="submit" value="Upload">
                </form>
            </div>

            <div class="button-container">
                <button id="save-button">Download</button>
                <button id="save-button">Share</button>
            </div>
        </div>

        <div class="footer"></div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'app/js/pestanatask.js' %}"></script>
</body>

</html>