{% load static %}
<!DOCTYPE html>


<html lang="en">

<head>
    <title>{% block titulo %}ICAREPLUS_CS{% endblock %}</title>
    <!-- <link href="{% static 'app/css/icareplus.css' %}" rel="stylesheet"> -->
    <link href="{% static 'app/css/icareplusstilo.css' %}" rel="stylesheet">

</head>

<html>

<body>
    
    <div id="contenedor" class="contenedor">
        <div id="header" class="header">
            <h2>CS Platform</h2>
            <nav id="menu" class="menu">
              <a href="{% url 'app:dashboardhws' %}">HOME</a>
              <a href="{% url 'app:netcare' %}">Netcare</a>
              <a href="{% url 'app:icareplus' %}">Icare+</a>
              <a href="{% url 'app:smsEmail' %}">SMS/Email</a>
              <a href="{% url 'app:onebox' %}">One Box</a>
              <a href="{% url 'app:vpnaccess' %}">VPN Access</a>
              <a href="{% url 'app:loginhw' %}">Log Out</a>
            </nav>
          </div>

        <div class="contenido">
          <form class="search">

           <p>Buscar Ticket</p>  <input id="searchTerm" type="text" onkeyup="doSearch()" />
    
        </form>
          <table id="datos">
            <tr>
              <th>SR ID</th>
              <th>SEVERITY</th>
              <th>STATUS</th>
              <th>LOCAL ASSIGNEE</th>
              <th>SUMMARY</th>
              <th>REPORT DATE</th>
              <th>END TIME</th>
              <th>CUSTOMER</th> 
              <th>PRODUCT</th> 
              <th>OWNER</th> 
              <th>REUQUEST TIPE</th> 
            </tr>
            <tr>
              <td>1111111</td>
              <td>MAJOR</td>
              <td>OPEN</td>
              <td>JUAN M</td>
              <td>Some Users on the HSS are presenting somo fails</td>
              <td>1/10/2023</td>
              <td>10/10/2023</td>
              <td>Cliente telefonica 1</td>
              <td>HSS</td>
              <td>Jose M</td>
              <td>CS</td>
            </tr>
            <tr>
              <td>1111111</td>
              <td>MAJOR</td>
              <td>OPEN</td>
              <td>JUAN M</td>
              <td>Some Users on the HSS are presenting somo fails</td>
              <td>1/10/2023</td>
              <td>10/10/2023</td>
              <td>Cliente telefonica 1</td>
              <td>HSS</td>
              <td>Jose M</td>
              <td>CS</td>
            </tr>
            <tr>
              <td>1111111</td>
              <td>MAJOR</td>
              <td>OPEN</td>
              <td>JUAN M</td>
              <td>Some Users on the HSS are presenting somo fails</td>
              <td>1/10/2023</td>
              <td>10/10/2023</td>
              <td>Cliente telefonica 1</td>
              <td>HSS</td>
              <td>Jose M</td>
              <td>CS</td>
            </tr>
            <tr>
              <td>1111111</td>
              <td>MAJOR</td>
              <td>OPEN</td>
              <td>JUAN M</td>
              <td>Some Users on the HSS are presenting somo fails</td>
              <td>1/10/2023</td>
              <td>10/10/2023</td>
              <td>Cliente telefonica 1</td>
              <td>HSS</td>
              <td>Jose M</td>
              <td>CS</td>
            </tr>
            <tr>
              <td>1111111</td>
              <td>MAJOR</td>
              <td>OPEN</td>
              <td>JUAN M</td>
              <td>Some Users on the HSS are presenting somo fails</td>
              <td>1/10/2023</td>
              <td>10/10/2023</td>
              <td>Cliente telefonica 1</td>
              <td>HSS</td>
              <td>Jose M</td>
              <td>CS</td>
            </tr>
            <tr>
              <td>1111111</td>
              <td>MAJOR</td>
              <td>OPEN</td>
              <td>JUAN M</td>
              <td>Some Users on the HSS are presenting somo fails</td>
              <td>1/10/2023</td>
              <td>10/10/2023</td>
              <td>Cliente telefonica 1</td>
              <td>HSS</td>
              <td>Jose M</td>
              <td>CS</td>
            </tr>
            <tr>
              <td>1111111</td>
              <td>MAJOR</td>
              <td>OPEN</td>
              <td>JUAN M</td>
              <td>Some Users on the HSS are presenting somo fails</td>
              <td>1/10/2023</td>
              <td>10/10/2023</td>
              <td>Cliente telefonica 1</td>
              <td>HSS</td>
              <td>Jose M</td>
              <td>CS</td>
            </tr>
            <tr class='noSearch hide'>

              <td colspan="5"></td>

          </tr>
          </table>
              
        </div>
            
        <div class="footer"></div>
    </div>
    <script src="{% static 'app/js/searchtable.js' %}"></script>
</body>

</html>