{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Login To Your Account</title>
    <link href="{% static 'app/css/loginestilohw.css' %}" rel="stylesheet">
  </head>
  <body>
    <form action="{% url 'app:autenticar' %}" method="POST">
      <h2>Login To Your Account</h2>
        {% csrf_token %}
        <label>USER</label>
        <input type="text" name="username">
        <label>PASSWORD</label>
        <input type="password" name="password">
        <br>
        <a type="submit" class="botonl"> Login</a>
        <a href="{% url 'app:restorepass' %}" class="botonl"> Restore Password</a>
        <a href="{% url 'app:dashboardhw' %}"  class="botonl">Ingresar Junior</a>
        <a href="{% url 'app:dashboardhws' %}"  class="botonl">Ingresar Senior</a>
      </form>
  </body>
</html>