{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Login To Your Account</title>
    <link href="{% static 'app/css/loginestilohw.css' %}" rel="stylesheet">
  </head>
  <body>
    <div class="form animated bounceIn">
      <h2>Login To Your Account</h2>
      <form action="{% url 'app:autenticar' %}" method="POST">
        {% csrf_token %}
        <input type="text" name="username">
        <input type="password" name="password">
        <button type="submit" class="botonl"> Login</button>
        <a href="{% url 'app:dashboardhw' %}"  class="botonl">Ingresar</a>
      </form>
    </div>
  </body>
</html>