{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Login To Your Account</title>
    <link href="{% static 'app/css/loginestilohw.css' %}" rel="stylesheet">
  </head>
  <body>
    <form action="{% url 'app:autenticar' %}" method="POST">
      {% csrf_token %}
      <h2>Login To Your Account</h2>
        <label>USER</label>
        <input type="text" name="username" style="color: black;"> 
        <label>PASSWORD</label>
        <input type="password" name="password" style="color: black;">
        <br>
        <button type="submit" > Login</button>
        <a href="{% url 'app:restorepass' %}" > Restore Password</a>
        <a href="{% url 'app:ADMIN' %}" > ADMIN</a>
      </form>
  </body>
</html>