{% load static %}
<!DOCTYPE html>


<html lang="en">

<head>
  <title>{% block titulo %}NETCARE_CS{% endblock %}</title>
  <!-- <link href="{% static 'app/css/netcare.css' %}" rel="stylesheet"> -->
  <link href="{% static 'app/css/netcarestilo.css' %}" rel="stylesheet">

</head>

<html>

<body>

  <div id="contenedor" class="contenedor">
    <div id="header" class="header">
      <h2>CS Platform</h2>
      <nav id="menu" class="menu">
        <a href="{% url 'app:dashboardhws' %}">HOME</a>
        <a href="{% url 'app:netcare' %}">Netcare</a>
        <a href="{% url 'app:icareplus' %}">Icare+</a>
        <a href="{% url 'app:smsEmail' %}">SMS/Email</a>
        <a href="{% url 'app:onebox' %}">One Box</a>
        <a href="{% url 'app:vpnaccess' %}">VPN Access</a>
        <a href="{% url 'app:loginhw' %}">Log Out</a>
      </nav>
    </div>
    <div class="contenido">


      <div class="tab-buttons">
        <button class="tab-button">Precautions</button>
        <button class="tab-button">Rectification</button>
        <button class="tab-button">Risk</button>
        <button class="tab-button">Healthcheck</button>
        <button class="tab-button">RFC</button>
        <button class="tab-button">New Task</button>
      </div>

      <div class="tab active">
        <h2>Precautions</h2>
        <table>
          <tr>
            <th>ID TASK</th>
            <th>EXECUTE</th>
            <th>SHARE</th>
            <th>OWNER</th>
            <th>PROGRESS</th>
            <th>DUE DATE</th>
            <th>CUSTOMER</th>
          </tr>
          {%for tarea in tareas%}
          <tr>
            <td class="title">
              <h3>{{tarea.titulo}}</h3>
            </td>
            <td class="edit-btn"><a href="{% url 'app:ejecutartarea' %}" class="edit-btn">EXECUTE</a></td>
            <td class="compare-btn"><button class="compare-btn">Share</button></td>
            <td class="owner">
              <p>Owner: <span class="owner">{{tarea.owner}}</span></p>
            </td>
            <td class="progress">
              <p>Progreso: <span class="progress">{{tarea.progreso}}</span></p>
            </td>
            <td class="due-date">
              <p>Fecha de vencimiento: <span class="due-date">{{tarea.fecha_vencimiento}}</span></p>
            </td>
            <td class="contact-info">
              <p>Contacto: <span class="contact-info">{{tarea.cliente}}</span></p>
            </td>
          </tr>
          {% endfor %}
        </table>
      </div>

      <div class="tab">
        <h2>Rectification</h2>
        <h1>........</h1>
      </div>

      <div class="tab">
        <h2>Risk</h2>
        <h1>........</h1>
      </div>

      <div class="tab">
        <h2>Healthcheck</h2>
        <h1>........</h1>
      </div>

      <div class="tab">
        <h2>RFC</h2>
        <h1>........</h1>
      </div>
      </div>

      <a class="me" href="https://codepen.io/uzcho_/pens/popular/?grid_type=list" target="_blank"
        style="color:#000"></a>

    </div>

    <div class="footer"></div>
  </div>
  <script src="{% static 'app/js/newtask.js' %}"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="{% static 'app/js/pestanatask.js' %}"></script>
</body>

</html>