.contenedor {
  background-color: #fff;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template: 110px auto 70px / 1fr;
  grid-template-areas:
    "header header"
    "contenido contenido"
    "footer footer";
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 128, 0.473);
  grid-area: header;
  flex-direction: column;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu a {
  display: inline-block;
  margin: 0 10px;
  padding: 10px 20px;
  border-radius: 20px;
  background-color: navy;
  color: #fff;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.menu a:hover {
  background-color: #fff;
  color: navy;
}


.contenido {
  background: #fff;
  grid-area: contenido;
}

.footer {
  background-color: rgba(0, 0, 128, 0.473);
  grid-area: footer;
}

/* --------------------------------------------------------------------------- */

.dashboard-navy{
  padding: 20px;
  justify-content: space-evenly;
}

table {
  justify-content: space-evenly;
  border-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px;
  border-color: navy;
  width: 1500px;
 }

td {
  cursor: pointer;
  padding: 20px;  
  max-width: 40px;
}
tr:hover {
background: #c2c2c2;
color: navy;  
}

.edit-btn > button,.compare-btn > button,.create{
border-radius: 30px;
background-color: navy;
color: white;
}

.edit-btn > button:hover,.compare-btn > button:hover,.create:hover{
  background-color: white;
  color: navy;
  }

  .create{
    padding: 20px;
  }

* {
  transition: all 0.5s ease;
}

.container {
  background-color: aqua;
  display: flex;
  padding: 0 16px;
  flex-wrap: wrap;
}

form {
  display: inline;
  padding: 0;
  flex-wrap: wrap;
  display: block;
}



label,
input,
textarea {
  padding: 10px;
  margin-bottom: 10px;
}


label i {
  margin: 0 10px 0 0;
}

.field:focus-within label {
  color: #000;
  letter-spacing: 2px;
}

input,
textarea {
  background: white;
  border: none;
  border-radius: 4px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.5s ease;
}

input:focus,
textarea:focus {
  background: white;
  box-shadow:#000;
}

button:hover {
  letter-spacing: 2px;
  box-shadow: none;
}
